<form [formGroup]="constraints" (ngSubmit)="onSubmit()">
  <mat-card class="filter-component">
    <mat-card-content>
      <div fxLayout="column" fxFlexGap="20px">
        <mat-form-field>
          <mat-label class="label">Sources</mat-label>
            <mat-select formControlName="sources" (ngModelChange)="onSourcesSelect($event)" multiple>
              <mat-option *ngFor="let source of sources" [value]="source.id">{{source.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Search" value="" formControlName="query">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" fxFlexAlign="center">Filter</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
