<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <app-filter class="filter-component" [sources]="sources" fxFlex="0 0 25%" (articlesFetchedEvent)="onArticlesFetched($event)"></app-filter>
  <div class="article-feed" fxLayout="column" fxLayoutGap="10px">
    <div class="wait-container">
      <mat-progress-spinner mode="indeterminate" color="white" class="wait" *ngIf="articleCount == undefined"></mat-progress-spinner>
    </div>
    <div class="empty-news" *ngIf="articleCount === 0">
      No news available!!
    </div>
    <div *ngFor="let article of articles">
      <a href="{{article.url}}" target="_blank">
        <mat-card class="article">
          <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>by {{article.author}}, {{article.source.name}}</mat-card-subtitle>
          </mat-card-header>
          <div class="article-post-and-content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <img *ngIf="article.urlToImage; else imageNotAvailable" src={{article.urlToImage}} height="100px" width="180px">
            <ng-template #imageNotAvailable>
              <img src="/assets/placeholder-image.jpg" height="100px" width="180px">
            </ng-template>
            <mat-card-content>
              <p>
                {{article.content}}
              </p>
            </mat-card-content>
          </div>
          <mat-card-footer class="article-footer">
            Published on: {{article.publishedAt | date: 'd/M/y'}} {{article.publishedAt | date: 'shortTime'}}
          </mat-card-footer>
        </mat-card>
      </a>
    </div>
  </div>
</div>
